<div class="row" id="sub-header">
        <div class="col-xs-12">
         <ul class="nav nav-tabs" role="tablist">
             <li role="presentation" {% if request.path == "/" %} class="active"{% endif %}><a href="{% url 'home' %}">Студенти</a></li>
             <li role="presentation" {% if "/visiting" in request.path %} class="active"{% endif %}><a href="{% url 'visit' %}">Відвідування</a></li>
             <li role="presentation" {% if "/groups" in request.path %} class="active"{% endif %}><a href="{% url 'groups' %}">Групи</a></li>
         </ul>
        </div>
</div>

